/* ================================= footer ================================= */
.SiteFooter{
    padding-top: 4rem;
    color: var(--text-color1);
}
.SiteFooter-sectionLabel{
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}
.SiteFooter-sectionLink{
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    padding-bottom: 0.5rem;
}

.UIDropdown-select{
    cursor: pointer;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 5px 0;
    color: var(--text-color1);
    border-bottom: 2px solid #20d489;
    background-color: inherit;
}
.UIDropdown-select option{
    background: var(--body-color);
}

.SiteFooter-bottom{
    padding: 2rem 0;
}