@media (max-width: 992px) {
    .header-middle {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #6c32ad;
        height: 60px;
    }
    
    .header-middle .navbar-nav {
        flex-direction: row;
        justify-content: center;
    }
    
    .header-middle .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .nav-item:has(.menu-toggle) {
        display: block;
    }
    .subnav {
        max-width: 245px;
    }

    .answer_opt {
        border-bottom: 1px solid var(--text-color1);
        padding-bottom: 0.75em;
        margin-bottom: 0.75em;
    }

}

@media ((min-width: 769px) and (max-width: 991px)) {
    /* ---------- Flash card ---------- */
    .cre-user {
        gap: 1rem;
    }
    
    .carousel .controls button {
        max-width: 150px;
    }
}

@media (max-width: 768px){
    .SiteFooter{
        display: none;
    }
    #header{
        display: none;
    }
    .navigator{
        display: block;
    }
    .swiper-wrapper{
        height: 250px;
    }
    .swiper-slide .qa{
        font-size: 16px;
    }
    .swiper .controls{
        font-size: 12px;
        padding: 0;
    }
    .swiper .controls .swiper-button-prev,
    .swiper .controls .swiper-button-next{
        visibility: hidden;
    }
    .card-option{
        font-size: 15px;
    }
    .card-option ul.options {
        padding-left: 0.5rem !important;
    }
    .card-option .question{
        border-bottom: 2px solid #f6f7fb;
    }
    .cards-control-menu{
        display: none !important;
    }

    /* --------------- Login --------------------------------- */
    .Login-Cont{
        /* height: 90vh !important; */
        z-index: -1 !important;
    }
    
    .Login-Cont .close {
        display: none;
    }

    .Login-box{
        width: 97vw !important;
        max-height: 98vh !important;
        background: transparent !important;
    }
    .third-log a {
        font-size: 14px !important; 
    }
    
    /* --------------- Welcome ------------------------------- */
    .ImageCard .ImageCard-Text{
        height: 95% !important;
        margin: 0 2% !important;
    }
    .ImageCard-Text-Content .UIHeading{
        font-size: 2rem !important;
    }
    .ImageCard-Text-Content .UIParagraph{
        font-size: 1rem !important;
    }
    .ImgCard-Control a{
        display: block !important;
    }
    .ImgCard-Control button{
        display: none;
    }

    /* --------------- Home ---------------------------------- */
    .AchievementsStreaksBoard {
        flex-direction: column;
    }

    /* --------------- Study set ----------------------------- */
    .study-set-box {
        width: 95vw !important;
    }
    .opt-pop {
        width: 90% !important;
    }
    .submit-form {
        width: 90% !important;
    }

    /* --------------- Learn --------------------------------- */
    .learn-content {
        margin: .75rem 0 !important;
        padding: 0;
    }

    .flash-cards {
        padding: 1.5rem !important;
    }

    .flash-card-body .answer .select {
        min-width: 100% !important;
    }
}