@media (max-width: 768px){
    .SiteFooter{
        display: none;
    }
    #header{
        display: none;
    }
    .mobile-view{
        display: block;
    }
    .navigator{
        display: block;
    }
    .carousel-inner{
        height: 250px;
    }
    .carousel-item .qa{
        font-size: 16px;
    }
    .carousel .controls{
        font-size: 12px;
        padding: 0;
    }
    .carousel .controls button{
        visibility: hidden;
    }
    .card-option{
        font-size: 15px;
    }
    .card-option .question{
        border-right: none !important;
        border-bottom: 1px solid #0a092d;
    }
    .card-option .answer{
        border-left: none !important;
        border-top: 1px solid #0a092d;
    }
    .cards-control-menu{
        display: none !important;
    }

    /* --------------- Login --------------------------------- */
    .Login-Cont{
        height: 90.5% !important;
        z-index: -1 !important;
    }
    .Login-box{
        width: 97vw !important;
        height: 90vh !important;
    }
    .third-log a {
        font-size: 14px !important; 
    }
    
    /* --------------- Welcome ------------------------------- */
    .ImageCard .ImageCard-Text{
        height: 95% !important;
        margin: 0 2% !important;
    }
    .ImageCard-Text-Content .UIHeading{
        font-size: 2rem !important;
    }
    .ImageCard-Text-Content .UIParagraph{
        font-size: 1rem !important;
    }
    .ImgCard-Control a{
        display: block !important;
    }
    .ImgCard-Control button{
        display: none;
    }
}
@media (max-width: 992px) {
    .header-middle {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background: #4257b2;
        height: 60px;
    }
    
    .header-middle .navbar-nav {
        flex-direction: row;
        justify-content: center;
    }
    
    .header-middle .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .menu-toggle {
        display: block;
    }
    .subnav {
        max-width: 245px;
    }

    .answer_opt {
        border-top: 1px solid var(--text-color1);
        padding-top: 0.75em;
        margin-top: 0.75em;
    }
}