@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive, sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #f6f7fb;
    --header-color: #fff;
    --footer-color1: #fff;
    --switch-color: #0a092d;
    --select-border: #edeff4;
    --option-box: #fff;
    --option-box-highlight: #646f90;
    --drop-down: #fff;
    --search-box: #f6f7fb;
    --dropdown-hover: #f2f2f2;
    --text-color1: #010101;
    --text-color2: #010101;
    --text-color3: #303545;
    --text-color-reverse: #fff;
    --dark-green: #a4ddc5;
    --light-green: #f2fbf6;
    --light-green-border: #23b26d;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.dark-theme {
    --body-color: #1e1e2f;
    --header-color: #0a092d;
    --footer-color1: #1a1d28;
    --switch-color: #f2f2f2;
    --select-border: #5a5a8c;
    --option-box: #47476f;
    --option-box-highlight: #939bb4;
    --drop-down: #303545;
    --search-box: #47476f;
    --dropdown-hover: #47476f;
    --text-color1: #fff;
    --text-color2: #ccc;
    --text-color3: #fff;
    --text-color-reverse: #010101;
    --dark-green: #19804f;
    --light-green: #23b26d;
    --light-green-border: #fff;
}

::selection{
    /* background-color: #0d6efd; */
    background-color: #c5f1f1;
    color: #010101;
}

body{
    background-color: var(--body-color) !important;
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    font-size: 15px;
    transition: top 0.3s;
    /* background: #4257b2; */
    background: #6c32ad;
    border-bottom: 1px solid #a8b1ff;
}
a{
    text-decoration: none !important;
}
.offcanvas{
    background-color: var(--drop-down) !important;
    height: fit-content !important;
}
.navigator{
    display: none;
}
.nav-item:has(.menu-toggle) {
    display: none;
}
.menu-toggle {
    display: inline-flex;
    color: #fff;
    background: inherit;
    width: 32px;
    height: 32px;
    border: 1px solid #fff;
    line-height: 1.5;
    font-size: 1rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.dropdown-menu {
    max-width: 400px;
    width: max-content;
}

.toast-alert {
    position: fixed;
    right: 0;
}
/* ---------------------------------- Top-left ----------------------------------*/
nav.navbar ul.nav li a{
    color: #fff;
    font-weight: 600;
}
nav.navbar ul:not(.nav) li a{
    color: var(--text-color1);
    font-weight: 600;
}
nav.navbar ul.nav li a{
    position: relative;
}
.nav-menu nav.navbar ul.nav li.active a .nav-label::after {
    content: "";
    background-color: #a8b1ff;
    bottom: -13px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 4px;
}
.nav-menu nav.navbar ul.nav li:not(.active) a:hover .nav-label::after {
    content: "";
    background-color: #a8b1ff;
    bottom: -13px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 4px;
}
.navbar-brand.image{
    width: 114px;
    cursor: pointer;
}
.image img{
    width: 100%;
    object-fit: cover;
}

.dropdown-menu{
    background-color: var(--drop-down) !important;
}
.dropdown-menu li a{
    color: var(--text-color1);
}
.dropdown-menu li a:hover{
    color: var(--text-color1);
    background: var(--dropdown-hover) !important;
}

.dropdown-toggle::after {
    font-family: "Font Awesome 5 Pro";
    font-weight: bold;
    content: "\f107" !important;
    border: 0 !important;
    vertical-align: 0 !important;
}

/* ------------------ sub-nav ------------------ */
.subnav{
    position: absolute;
    overflow: hidden;
    display: none;
    width: 300px;
    max-height: 345px;
    height: auto;
    top: 0;
    left: 160px;
    border-radius: 0.25rem;
    background-color: var(--drop-down);
}
.subnav ul{
    list-style: none;
    padding: 10px 0;
}
.subnav .all{
    position: absolute;
    border-top: 1px solid var(--text-color1);
    padding: 6px 0;
    bottom: 0;
    width: 100%;
    background-color: var(--drop-down);
}
.subnav .subnav-content{
    position: relative;
    height: 300px;
    overflow: auto;
}
.subnav .subnav-content .title{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subnav-content::-webkit-scrollbar{
    width: 5px;
}
/* Handle */
.subnav-content::-webkit-scrollbar-thumb {
    background: #888; 
}
.hasChildren:hover .subnav {
    display: block;
}

#confirm .modal-content {
    color: var(--text-color1);
    background-color: var(--drop-down);
}

#confirm .modal-content .btn-confirm {
    color: #fff;
    background-color: #20d489;
}

#confirm .modal-content .btn-cancel {
    color: #20d489;
    background-color: inherit;
    border: 1px solid #20d489;
}

#confirm .modal-content .btn:hover {
    opacity: .75;
}

/* ---------------------------------- Top-right ----------------------------------*/
.top-right{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.search-box{
    background-color: var(--search-box);
    padding: 0 10px;
    width: 77%;
    border-radius: 5px;
    color: var(--text-color1);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}
.search-box input{
    background-color: var(--search-box);
    border: 0;
    color: var(--text-color1);
    padding: 0.4rem 0;
}
.search-box input:focus{
    border: 0;
    outline: 0;
}
.top-noti{
    position: relative;
    color: var(--text-color1);
    border: 1px solid #efefef;
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.top-noti .badge-num {
    border-radius: 50%;
    display: inline-block;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 22px;
    position: absolute;
    right: -6px;
    text-align: center;
    top: -6px;
    width: 21px;
    height: 20px;
    box-shadow: 2px 3px 8px rgb(0 0 0 / 15%);
}
.top-noti-box{
    max-width: 500px;
    height: 300px;
    overflow: auto;
}

/* ----------------------------------------------------- */
.dropdown-ls{
    position: absolute;
    top: 60px;
    right: 0;
    padding: 10px 0;
    border-radius: 5px;
    background: var(--drop-down);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    overflow-y: auto;
}
.dropdown-ls ul li{
    padding: 10px 20px;
    color: var(--text-color1);
}
.dropdown-ls ul li:hover{
    background-color: var(--dropdown-hover);
    cursor: pointer;
}
.dropdown-ls ul.nav li a{
    display: block;
    color: var(--text-color2) !important;
}

.theme-setting{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.toggle-switch{
    cursor: pointer;
    width: 26px;
    height: 12px;
    border-radius: 20px;
    background-color: var(--switch-color);
}
.toggle-switch .switch{
    position: relative;
    height: 12px;
    width: 26px;
    transition: var(--tran-05);
}

.toggle-switch .switch::before {
    content: '';
    position: absolute;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    top: 6px;
    left: 2px;
    transform: translateY(-50%);
    background-color: var(--body-color);
    transition: var(--tran-04);
}
.toggle-switch.dark-on {
    background: var(--switch-color);
}
.toggle-switch.dark-on .switch::before{
    left: 15px;
}

/* ------ Popup -------------------------------------------------*/
.Popup {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0) ;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
    transition: 0.3s;
}
  
/* The Close Button */
.close {
    color: var(--text-color1);
    float: right;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
}
  
.close:hover, .close:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
}
/* ------ Refer a friend ------------------------ */
.Refer_a_friend{
    position: absolute;
    color: var(--text-color1);
    background: var(--drop-down);
    max-width: 800px;
    width: 95%;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.ab-pop{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 670px;
    width: 100%;
    overflow-y: auto;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.2;
}
.ab-pop .refer-link .btn{
    font-size: 18px;
    font-weight: 700;
}
.ab-pop .refer-link input{
    font-size: 18px;
    padding: 12px;
    border: 0;
    font-weight: 600;
    color: var(--text-color1);
    background-color: var(--search-box);
}
.ab-pop img{
    position: relative;
    width: 100px;
    left: -5px;
    padding-top: 10px;
}

/* ---------------------------------- Footer ----------------------------------*/
.mobile-view{
    display: none;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #a8b1ff;
    font-size: 15px;
    background: #6c32ad;
}
.mobile-view nav.navbar{
    justify-content: center;
}
.mobile-view nav.navbar ul.nav{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.mobile-view nav.navbar ul.nav li{
    padding: 10px;
}
.mobile-view nav.navbar ul.nav li.active a{
    color: #0a092d;
}