.user-main {
    max-width: 1170px;
    margin: 30px auto;
}

.card {
    border-radius: .5rem;
    color: var(--text-color1);
    background-color: var(--option-box);
}

.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 0 2.25rem;
    background-color: transparent;
    border-bottom: 1px solid #EFF2F5;
}

.card .card-header .card-title {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    margin-left: 0;
}

.card .card-header .card-title  h3 {
    font-size: 1.275rem;
}

.card .card-header .card-title, 
.card .card-header .card-title .card-label {
    font-weight: 500;
}

.card .card-footer {
    padding: 2rem 2.25rem;
    background-color: transparent;
    border-top: 1px solid #EFF2F5;
}

.SiteFooter {
    display: none;
}

/* ---------------------------------------------------------------------- */

.common {
    display: flex;
    margin-bottom: 1rem;
}

.common .avatar {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    border-radius: 0.475rem;
    margin-bottom: 1rem;
    margin-right: 1.75rem;
}

.common .avatar img {
    display: inline-block;
    border-radius: 0.475rem;
    vertical-align: middle;
    width: 160px;
    height: 160px;
    border: 2px solid #20d489;
    padding: 2px;
}

.common .avatar .update-ava {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 2px;
    bottom: 1px;
    color: #3F4254;
    background: #fff;
    border-radius: .4rem;
}

.common .avatar .update-ava:hover {
    cursor: pointer;
    color: #20d489;
}

.common .user-name {
    color: var(--text-color4);
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 0.25rem;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.user-info {
    display: inline-flex;
    align-items: center;
    transition: color 0.2s ease, background-color 0.2s ease;
    font-size: .95rem;
}

.user-prg-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.user-prg-info .upi-left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.user-prg-info .upi-left .upi-left-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.upi-left .upi-left-content .upi-l-c-item {
    color: var(--text-color1);
    min-width: 125px;
    border-radius: 0.475rem;
    padding: 0.75rem 1rem;
    border: 1px dashed #E4E6EF;
    margin-bottom: 0.75rem;
}

.progress {
    height: 5px;
}
/* ----------------------------------------------------------------- */

.separator {
    display: block;
    height: 0;
    border-bottom: 1px dashed #E4E6EF;
}

.kt_signin_email,
.kt_signin_password {
    display: none;
}

.kt_signin_email.active,
.kt_signin_password.active {
    display: flex;
    flex: 1 auto;
    flex-direction: column;
}

.two-factor-authen {
    display: flex;
    border: 1px dashed #009EF7;
    background-color: #F1FAFF;
    border-radius: 0.475rem;
}

.btn_email_edit,
.btn_password_edit {
    display: none;
}

.btn_email_edit.on,
.btn_password_edit.on {
    display: block;
}

.form-control.form-control-solid,
.form-select.form-select-solid {
    background-color: #F5F8FA;
    border-color: #F5F8FA;
    color: #5E6278;
    box-shadow: none;
    transition: color 0.2s ease, background-color 0.2s ease;
}

.form-check.form-check-solid .form-check-input {
    border: 0;
    background-color: #EFF2F5;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
}

.form-check.form-check-solid .form-check-input:checked {
    background-color: #009EF7;
}

.notice_account_deactivate {
    display: flex;
    border-radius: 0.475rem;
    background-color: #FFF8DD;
    padding: 1.5rem;
    margin-bottom: 2.25rem;
    border: 1px dashed #FFC700;
}